$primary-color: #ff7575;
$accent-color: #DFEFFF;
$font-stack: 'Delius', cursive;

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: $primary-color;
  margin: 50px;
}

h1 {
  text-align: center;
  color: $accent-color;
}

#note_comp {
  background-color: white;
  margin: 1em;
  resize: both;
  overflow: auto;
  border: 5px solid $accent-color;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  position: absolute;
}

#note_header {
  background-color: $accent-color;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

#create_button {
  margin-left: 1em;
  outline: none;
}
#create_button:hover {
  background-color: darken($accent-color,20%);
}

#align_left {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-weight: bold;
}

#inputBox {
  border: none;
  padding: 0.2em;
  outline: none;
}
#note_body {
  padding: 0.5em;
}

#fa-icon {
  padding: 0.5em;
}

#inputTitle {
  align-items: center;
  text-align: center;
}

#create_button {
  background-color: $accent-color;
  border: none;
}

#background_cont {
  display: flex;
}
